Flask==0.10.1
Flask-OAuth==0.12
Flask-PyMongo==0.3.0
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
funcy==0.9
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
mercurial==2.9
oauth2==1.5.211
pusher==0.8
pymongo==2.6.3
requests==2.2.1
sendgrid==0.2.6
smtpapi==0.1.1
wsgiref==0.1.2
