<html>
	<head>
		<title>BetsOn</title>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script type="text/javascript" src="//use.typekit.net/zwi4lxb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		
		<div class="content pair paired">
			<div class="container">
				
		
				<label>Input type="text"</label>
				<input type="text" />
				
				
			</div>
		</div>
	</body>
</html>