<html>
	<head>
		<title>BetsOn</title>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script type="text/javascript" src="//use.typekit.net/zwi4lxb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<header>
			<div class="container">
				<a href="#" class="logo">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="640px" height="640px" viewBox="0 0 640 640" style="enable-background:new 0 0 640 640;" xml:space="preserve">
					<g>
						<g>
							<g>
								<path style="fill:#006FBA;" d="M438.352,353.948c0,2.75-2.25,5-5,5h-85.284c-2.75,0-5-2.25-5-5v-85.285c0-2.75,2.25-5,5-5h85.284
									c2.75,0,5,2.25,5,5V353.948z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M304.956,353.948c0,2.75-2.25,5-5,5h-34.47c-2.75,0-5-2.25-5-5v-34.467c0-2.75,2.25-5,5-5h34.47
									c2.75,0,5,2.25,5,5V353.948z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M238.252,376.183c0,2.75-2.25,5-5,5h-59.877c-2.75,0-5-2.25-5-5v-59.877c0-2.75,2.25-5,5-5h59.877
									c2.75,0,5,2.25,5,5V376.183z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M314.479,358.712c0,2.75-2.25,5-5,5h-85.285c-2.75,0-5-2.25-5-5v-85.285c0-2.75,2.25-5,5-5h85.285
									c2.75,0,5,2.25,5,5V358.712z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M327.184,398.412c0,2.75-2.25,5-5,5h-12.228c-2.75,0-5-2.25-5-5v-12.229c0-2.75,2.25-5,5-5h12.228
									c2.75,0,5,2.25,5,5V398.412z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M393.883,465.111c0,2.75-2.25,5-5,5H265.486c-2.75,0-5-2.25-5-5V341.713c0-2.75,2.25-5,5-5
									h123.396c2.75,0,5,2.25,5,5V465.111z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M266.837,519.109c0,2.75-2.25,5-5,5h-88.462c-2.75,0-5-2.25-5-5v-88.462c0-2.75,2.25-5,5-5h88.462
									c2.75,0,5,2.25,5,5V519.109z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M216.017,538.167c0,2.75-2.25,5-5,5h-72.579c-2.75,0-5-2.25-5-5v-72.584c0-2.75,2.25-5,5-5h72.579
									c2.75,0,5,2.25,5,5V538.167z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M327.184,528.638c0,2.75-2.25,5-5,5h-78.932c-2.75,0-5-2.25-5-5v-78.934c0-2.75,2.25-5,5-5h78.932
									c2.75,0,5,2.25,5,5V528.638z"/>
							</g>
							<g>
								<path style="fill:#006FBA;" d="M174.73,557.224c0,2.75-2.25,5-5,5h-50.349c-2.75,0-5-2.25-5-5v-50.349c0-2.75,2.25-5,5-5h50.349
									c2.75,0,5,2.25,5,5V557.224z"/>
							</g>
						</g>
					</g>
					<g>
						<g>
							<g>
								<path style="fill:#F04923;" d="M371.644,290.424c0,2.75-2.25,5-5,5h-78.927c-2.75,0-5-2.25-5-5v-78.932c0-2.75,2.25-5,5-5h78.927
									c2.75,0,5,2.25,5,5V290.424z"/>
							</g>
							<g>
								<path style="fill:#F04923;" d="M498.696,309.481c0,2.75-2.25,5-5,5h-66.229c-2.75,0-5-2.25-5-5v-66.228c0-2.75,2.25-5,5-5h66.229
									c2.75,0,5,2.25,5,5V309.481z"/>
							</g>
							<g>
								<path style="fill:#F04923;" d="M525.69,242.781c0,2.75-2.25,5-5,5h-21.759c-2.75,0-5-2.25-5-5v-21.761c0-2.75,2.25-5,5-5h21.759
									c2.75,0,5,2.25,5,5V242.781z"/>
							</g>
							<g>
								<path style="fill:#F04923;" d="M406.584,176.084c0,2.75-2.25,5-5,5h-24.94c-2.75,0-5-2.25-5-5v-24.941c0-2.75,2.25-5,5-5h24.94
									c2.75,0,5,2.25,5,5V176.084z"/>
							</g>
							<g>
								<path style="fill:#F04923;" d="M371.644,118.909c0,2.75-2.25,5-5,5h-34.46c-2.75,0-5-2.25-5-5V84.444c0-2.75,2.25-5,5-5h34.46
									c2.75,0,5,2.25,5,5V118.909z"/>
							</g>
							<g>
								<path style="fill:#F04923;" d="M444.707,249.135c0,2.75-2.25,5-5,5H332.184c-2.75,0-5-2.25-5-5v-107.52c0-2.75,2.25-5,5-5
									h107.523c2.75,0,5,2.25,5,5V249.135z"/>
							</g>
							<g>
								<path style="fill:#F04923;" d="M498.696,172.904c0,2.75-2.25,5-5,5h-66.229c-2.75,0-5-2.25-5-5v-66.228c0-2.75,2.25-5,5-5h66.229
									c2.75,0,5,2.25,5,5V172.904z"/>
							</g>
						</g>
					</g>
					</svg>
				</a>
			
				<div class="user">
					<a href="#">
						<div class="avatar avatar-sm">
							<img src="img/temp/avatar.jpg" alt="Temporary Avatar Placeholder" />
						</div>
						Sawyer Altman
					</a>
					<span class="icon-logout">
						<a href="#"><img src="img/logout.svg" /></a>
					</span>
				</div>
			
				<nav>
					<a href="#">My Bets</a>
					<a href="#">Bet History</a>
				</nav>
			</div>
		</header>
		<div class="content">
			<div class="container">
				<hgroup class="main">
					<h1>Design a New Bet</h1>
				</hgroup>
				
				<div class="design">
					<section>
						<hgroup class="mid">
							<div class="order">
								1
							</div>
							<h2>Choose a Platform</h2>
						</hgroup>
						<div class="inner select">
							<div class="platforms options">
								<a href="#">
									<img src="img/platform-flappy.jpg" alt="Flappy Bird" />
								</a>
								<a href="#">
									<img src="img/platform-flappy.jpg" alt="Flappy Bird" />
								</a>
								<a href="#">
									<img src="img/platform-flappy.jpg" alt="Flappy Bird" />
								</a>
								<a href="#">
									<img src="img/platform-flappy.jpg" alt="Flappy Bird" />
								</a>
							</div>
						</div>
					</section>
					

					<section>
						<hgroup class="mid">
							<div class="order">
								2
							</div>
							<h2>Choose a Win Condition</h2>
						</hgroup>
						<div class="inner select">
							<div class="options conditions">
								<a href="#">
									Past Level X
								</a>
								<a href="#">
									At Level X with Y Lives
								</a>
								<a href="#">
									When X Happens
								</a>
								<a href="#">
									When X Happens
								</a>
								<a href="#">
									When X Happens
								</a>
							</div>
						</div>
					</section>
					

					<section>
						<hgroup class="mid">
							<div class="order">
								3
							</div>
							<h2>Set Variable Values</h2>
						</hgroup>
						<div class="inner select">
							<div class="options variables">
								When <input type="text" class="fill-line" />,
								that player wins!
							</div>
						</div>
					</section>
					

					<section>
						<hgroup class="mid">
							<div class="order">
								4
							</div>
							<h2>Raise the Stakes</h2>
						</hgroup>
						<div class="inner select">
							<div class="social">
								<span>Let the world know who emerged victorious.</span>
								
								<a href="#" class="btn btn-twitter">Share Results on Twitter</a>
								<a href="#" class="btn btn-facebook">Share Results on Facebook</a>
							</div>
						</div>
					</section>
					
					<div class="submit">
						<a href="#" class="btn btn-primary btn-lg">Save this Bet</a>
					</div>
				</div>
				
			</div>
		</div>
	</body>
</html>