{% extends "base.html" %}

{% block content %}
<div class="content">
	<hgroup class="main">
		<div class="container">
				<h1>Design a New Bet</h1>
		</div>
	</hgroup>

	<div class="container">
		<div class="design">
			<section id="choose-platform">
				<hgroup class="mid">
					<div class="order">
						1
					</div>
					<h2>Choose a Platform</h2>
				</hgroup>
				<div class="inner select">
					<div class="platforms options">
						<div class="platform-choice"><img id="hackernews" class="platform-choice" src="{{ url_for('static', filename='img/platform-hn.png') }}" alt="Hacker News" /></div>
						<div class="platform-choice"><img id="twitter" src="{{ url_for('static', filename='img/platform-twitter.png') }}" alt="Twitter" /></div>
						<div class="platform-choice"><img id="reddit" src="{{ url_for('static', filename='img/platform-reddit.png') }}" alt="Reddit" /></div>
						<div class="platform-choice"><img id="custom" src="{{ url_for('static', filename='img/platform-custom.png') }}" alt="Custom" /></div>
					</div>
				</div>
			</section>
			

			<section id="choose-win-condition" style="display: none">
				<hgroup class="mid">
					<div class="order">
						2
					</div>
					<h2>Choose a Win Condition</h2>
				</hgroup>
				<div class="inner select">
					<div id="hackernews-conditions" class="options conditions">
						<a href="#" class="condition">I've been on Hacker News Longer</a>
						<a href="#" class="condition">I've got more karma on Hacker News</a>
					</div>
					<div id="twitter-conditions" class="options conditions">
						<a href="#" class="condition">I've got more followers on twitter</a>
						<a href="#" class="condition">I've got more tweets on twitter</a>
						<a href="#" class="condition">My latest tweet got more retweets</a>
						<a href="#" class="condition">My latest tweet got more favorites</a>
					</div>
					<div id="reddit-conditions" class="options conditions">
						<a href="#" class="condition">I've been a member for longer</a>
						<a href="#" class="condition">I've got more karma on reddit</a>
					</div>
					<div id="custom-conditions" class="options conditions">
						<a href="#" class="condition">Website will contain string</a>
						<a href="#" class="condition">Website won't contain string</a>
					</div>
				</div>
			</section>
			

			<section id="set-variable-values" style="display: none">
				<hgroup class="mid">
					<div class="order">
						3
					</div>
					<h2>Set Variable Values</h2>
				</hgroup>
				<div class="inner select">
					<div class="options variables">
						When <input type="text" class="fill-line" />,
						that player wins!
					</div>
				</div>
			</section>
			

<!-- 			<section>
				<hgroup class="mid">
					<div class="order">
						4
					</div>
					<h2>Raise the Stakes</h2>
				</hgroup>
				<div class="inner select">
					<div class="social">
						<span>Let the world know who emerged victorious.</span>
						
						<a href="#" class="btn btn-twitter">Share Results on Twitter</a>
						<a href="#" class="btn btn-facebook">Share Results on Facebook</a>
					</div>
				</div>
			</section> -->
			
			<div class="submit">
				<a href="#" class="btn btn-primary btn-lg">Save this Bet</a>
			</div>
			<script>
				current_platform = "";
				$(".platform-choice").click(function (e) {
					if ($(e.target).attr('id') != current_platform) {
						current_platform = $(e.target).attr('id'); 

						// $("*").removeClass("platform-chosen");
						// $(".platform-choice:not(.platform-chosen)").removeClass('disabled');

						// $(e.target).parent().addClass("platform-chosen");
						// $(".platform-choice:not(.platform-chosen)").addClass('disabled');

						$("#choose-win-condition").fadeIn();
						$(".conditions").hide();
						$('#' + current_platform + "-conditions").show();
						setTimeout(function () {
							$("html, body").scrollTo("#choose-platform", 1000, {offset: {top: 10}});
							// $('html, body').animate({
							//         scrollTop: $("#choose-platform").offset().top - 10
						 //    }, 1000);
						}, 250);

					} else {
						// EXISTING SELECTION
						// NO FUCKING OP
					}

				});
				$(".condition").click (function () {
					$("#set-variable-values").fadeIn();
					// $(".conditions").hide();
					// $('#' + current_platform + "-conditions").show();
					setTimeout(function () {
						("html, body").scrollTo("#set-variable-values", 1000, {offset: {top: 10}});
					}, 250);
				})
			</script>
		</div>
	</div>
</div>
{% endblock %}